#title h1 {
    text-align: center;
    font-size: 3.5rem;
}

#description {
    text-align: center;
    color: #bbbbbb;
    width: 70%;
    margin: auto;
}

#team {
    text-align: center;
    position: relative;
    margin: auto;
    width: 70%;
}

#team h1 {
    padding: 20px 0 20px 0;
}

.team-member img{
    width: 200px;
    height: auto;
    border-radius: 20%;
}

.team-member p {
    width: 70%;
    color: #bbbbbb;
    margin: auto;
}

#team-member-grid{
    display: grid;  
    grid-template-columns: repeat(3, 50%);
    gap: 50px;
    justify-content: center;
}

.team-member {
    text-align: center;
    background-color: #473f46;
    padding: 20px;
    width: 80%;
    border-radius: 30px;
    border: 1px solid #e2d2a460;
    margin: 0 auto 0 auto;
}

#project {
    text-align: center;
    width: 70%;
    margin: auto;
}

#project h1 {
    padding: 20px 0 20px 0;
}

#project-description {
    color: #bbbbbb;
    width: 100%;
    margin: auto;
}