* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #43455e;
    margin: 0;
    padding: 0;
}

/* -------------------------------------- */

.fade-1 {
    background: linear-gradient(#43455e, #51546c);
    padding: 10rem;
}

.fade-2 {
    background: linear-gradient(#51546c, #43455e);
    padding: 10rem;
}

/* -------------------------------------- */


.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #43455e;
}


.portfolio h2 {
    margin-left: 3rem;
    color: #ffffff;
    font-size: 4rem;
}


.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
}


.card {
    display: flex;
    justify-content: center;
    padding: 1rem;
    position: relative;
}
.overlay {
    position: absolute;
    height: 94%;
    width: 92%;
    border-radius: 25px;
    opacity: 0;
    transition: .5s ease;
    background: radial-gradient(circle, #000000FF, #00000000);
}
.card:hover .overlay {
    opacity: 1;
}
.text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


.card img {
    margin: 0;
    padding: 0;
    width: 350px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
}


#portfolio-button {
    margin-top: 3rem;
}
#portfolio-button:hover {
    color: #51546c; 
    background-color: #43455e;
}


@media (min-width: 1235px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
}

@media (min-width: 850px) and (max-width: 1235px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
}
