.wrapper{
    display: flex;
    max-width: 1200px;
    position: relative;
}
.wrapper i{
    top: 50%;
    height: 44px;
    width: 44px;
    color: #343F4F;
    cursor: pointer;
    font-size: 1.15rem;
    position: absolute;
    text-align: center;
    line-height: 44px;
    background: #fff;
    border-radius: 50%;
    transform: translateY(-50%);
    transition: transform 0.1s linear;
}
.wrapper i:active{
    transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
    background: #f2f2f2;
}
.wrapper i:first-child{
    left: -22px;
    display: none;
}
.wrapper i:last-child{
    right: -22px;
}
.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}
.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}
.carousel.dragging picture img, .carousel.dragging picture source{
    pointer-events: none;
}
.carousel picture img, .carousel picture source{
    height: 340px;
    object-fit: cover;
    user-select: none;
    margin-left: 14px;
    width: calc(100% / 3);
}
.carousel picture img:first-child, .carousel picture source:first-child{
    margin-left: 0px;
}
@media screen and (max-width: 900px) {
    .carousel picture img, .carousel picture source{
        width: calc(100% / 2);
    }
}
@media screen and (max-width: 550px) {
    .carousel picture img, .carousel picture source{
        width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .wrapper {
        max-width: 80%;
    }
}

