:root {
    --background:   #251f27;

    --header-background:    #473f46;
    --header-text:          #bbbbbb;

    --island-background:    #473f46;
    --island-text:          #bbbbbb;
    
    --footer-background:    #473f46;
    --footer-text:          #bbbbbb;

    --text-1:   #ffffff;
    --text-2:   #bbbbbb;

    --highlight: #e2d2a4;
    --highlight-alpha: #e2d2a460;

    --link:         #ffffff;
    --link-visited: #ffffff;
    --link-hover:   #e2d2a4;
    --link-active:  #e2d2a4;
    /*
    cigane propai daj light theme
    --lbackground:  #d0c29c

    --lheader-background:   #e8daf8f;   
    --lheader-text:          #666666;
    
    --lfooter-background:    #e8daf8f;
    --lfooter-text:          #666666;

    --ltext-1:   #222222;
    --ltext-2:   #555555;

    --llink:         #222222;
    --llink-visited: #555555;
    --llink-hover:   #dc4961;
    --llink-active:  #dc4961;

    --active-page:   #dc4961;  
    */
}


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: var(--background);
}


h1 {
    font-size: 2rem;
    color: var(--text-1);
}
h2 {
    font-size: 1.5rem;
    color: var(--text-1);
}
h3 {
    font-size: 1.3rem;
    color: var(--text-1);
}
h4 {
    font-size: 1rem;
    color: var(--text-1);
}
h5 {
    font-size: 0.8rem;
    color: var(--text-1);
}
h6 {
    font-size: 0.6rem;
    color: var(--text-1);
}
p {
    color: var(--text-2);
}

a {
    color: var(--link);
}
a:visited {
    color: var(--link-visited);
}
a:hover {
    color: var(--link-hover);
}
a:active-page {
    color: var(--link-active);
}

i {
    padding: 2px;
}

.container {
    margin: 5px 5%;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    text-decoration: none;
    background: var(--island-background);
    color: var(--text-2);
    margin: 20px 10px 10px 10px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid var(--highlight-alpha);
}

header {
    background-color: var(--header-background);
    color: var(--header-text);
    border-bottom: 1px solid var(--highlight-alpha);
}
main {
    margin: 20px 10%;
}
@media only screen and (max-width: 450px) {
    main {
        margin: 20px 0;
    }
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
nav img {
    height: 40px;
}
nav h1 {
    user-select: none;
}
nav ul {
    list-style: none;
    display: flex;
}
nav ul li {
    padding: 0 10px;
}
nav a {
    position: relative;
    text-decoration: none;
}
nav ul li a[class*="active-page"]::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: var(--highlight);
    position: absolute;
    left: 0;
    bottom: -2px;    
}
#nav-links {
    z-index: 99;
    visibility: visible;
}
#nav-open, #nav-close {
    display: none;
    user-select: none;
    cursor: pointer;
}
#nav-close {
    margin-top: 12px;
}

@media only screen and (max-width: 600px) {
    #nav-open, #nav-close {
        display: block;
    }
    #nav-links {
        visibility: hidden;
        width: 40%;
        height: 120vh;
        background-color: var(--header-background);
        position: fixed;
        flex-direction: column;
        right: 0;
        top: 0;
    }
    #nav-links li {
        margin: 10px 10px;
    }
}


footer {
    padding: 20px;
    background-color: var(--footer-background);
    color: var(--footer-text);
    display: flex;
    justify-content: center;
}
footer h4, footer h5 {
    color: var(--footer-text);
}
footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
}
footer div h5 {
    padding: 2px;
}
footer div ul {
    padding-left: 40px;
}
footer div ul li {
    font-size: 0.8rem;
}
footer i {
    font-size: 1.2rem;
}
@media only screen and (max-width: 600px) {
    footer {
        flex-direction: column;
    }
    footer h4 {
        margin-top: 20px;
    }

}
@media only screen and (max-width: 370px) {
    footer i {
        position: absolute;
        visibility: hidden;
    }
}
