main h1 {
    margin-top: 20px;
    margin-bottom: 10px;
}

#home-banner {
    height: 100vh;
    background: url("/assets/index/background.jpg");
    border-bottom: 1px solid var(--highlight-alpha);
}
#shadow {
    height: 100.2%;
    background: radial-gradient(#000000AA, var(--background));
    display: flex;
    align-items: center;
    flex-direction: column;
    /* text-shadow: 5px 5px var(); */
}

#home-banner h1 {
    font-size: 5rem;
    margin-top: 350px;
}

#home-banner h3 {
    color: var(--highlight);
}