#title h1 {
    text-align: center;
    font-size: 3rem;
}

#description {
    text-align: center;
    color: #bbbbbb;
    width: 70%;
    margin: auto;
}

#team {
    text-align: center;
    position: relative;
    margin: auto;
    width: 70%;
}

#team h1 {
    margin-top: 30px;
    padding: 20px 0 20px 0;
}

.team-member img {
    width: 100%;
}

@media only screen and (max-width: 350px) {
    .team-member img {
        width: 150px;
    }
}

.team-member h3 {
    width: 70%;
    user-select: none;
}

#team-member-grid {
    margin: 0px 10%;
    display: grid;
    grid-template-columns: repeat(3, 50%);
    gap: 10px;
    justify-content: center;
}

@media only screen and (max-width: 1100px) {
    #team-member-grid {
        grid-template-columns: repeat(2, 75%);
    }

    .team-member h3 {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    #team-member-grid {
        margin: 0;
        grid-template-columns: repeat(1, 100%);
    }
}

.member-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-image: radial-gradient(var(--background), #00000000);
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-member:hover .member-description {
    opacity: 1;
}

.team-member {
    position: relative;
    text-align: center;
}